  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    background-color: #1a1a1a;
}


/* MENU CONFIGURATION */
.menu {
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0;
    background-color: #1a1a1a;
    display: flex;
    justify-content: space-between;
}

.profile-photo {
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 30px;
}

.search-bar input {
    border: 2px solid #505050;
    padding: 10px;
    background-color: #1a1a1a;
    width: 250px;
    border-radius: 20px 0 0 20px;
    color: white;
}

.search-bar button {
    background-color: #505050;
    border: 2px solid #505050;
    padding: 5px;
    border-radius: 0 20px 20px 0;
    position: absolute;
    height: 39px;
    cursor: pointer;
}

.hamburger-button {
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
}


.menu > *{
    display: inline;
}
/* END OF MENU CONFIGURATION */

/*DISPLAYED VIDEO CONFIGURATION */
.title {
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
    margin-left: 15px;
}

.channel-photo {
    display: inline;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    margin-left: 15px;
}

.channel-link {
    cursor: pointer;
}

.channel-link p {
    font-size: small;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.channel-link a {
    text-decoration: none;
    color: white;
    display: inline;
    vertical-align: sub;
}

.video-interactions {
    display: inline;
}

.video-interactions button{
    border: 2px solid #dddddd;
    border-radius: 15px;
    cursor: pointer;
}

.video-description {
    width: 800px;
    height: 310px;
    background-color: #505050;
    border-radius: 20px;
}

.video-description h3, p{
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    color: aliceblue;
}
/* END OF DISPLAYED VIDEO CONFIGURATION */
.content {
    display: flex;
}
/* RECOMMENDATION VIDEOS CONFIGURATION */
.other-videos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 30px;
    padding-top: 10px;
    gap: 15px;
}

.videos {
    display: flex;
    flex-wrap: wrap;
}

.other-videos img {
    display: inline;
    width: 40%;
    border-radius: 12px;
    cursor: pointer;
}

.videos li{
    list-style: none;
}

.video-title {
    text-decoration: none;
    color: white;
    font-size: large;
}

.video-channel {
    text-decoration: none;
    color: white;
    font-size: small;
}

/* END OF RECOMMENDATION VIDEOS CONFIGURATION */